<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">Melody Liang</span>
        <span class="site-description">Software Engineering</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="LiangChunYuan@outlook.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Instagram" target="_blank" href=""><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="My Facebook" target="_blank" href=""icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href=""><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://blackbird2333.github.io/"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
